<h3> Sign Up Here </h3>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/users" method="POST">
  <input type="text" name="user[username]" placeholder="Username" id="answer-field">
  <input type="password" name="user[password]" placeholder="Password" id="answer-field">
  <input type="submit" value="Sign Up" id="round-button">
</form>
